
<ion-content [fullscreen]="true">
  <ion-header>
  <ion-toolbar>
    <ion-title>
      Detalles de la tarjeta
    </ion-title>
  </ion-toolbar>
</ion-header>
      <ion-item>
        <ion-label>ID: {{ id }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Marca: </ion-label>
        <ion-input [(ngModel)] = "document.data.marca"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ensamblador: </ion-label>
        <ion-input [(ngModel)] = "document.data.ensamblador"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Modelo: </ion-label>
        <ion-input [(ngModel)] = "document.data.modelo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Precio: </ion-label>
        <ion-input [(ngModel)] = "document.data.precio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tamaño Memoria: </ion-label>
        <ion-input [(ngModel)] = "document.data.memoria"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Foto: </ion-label>
        <img src="{{imagenTempSrc}}">
      </ion-item>

      <ion-button *ngIf="id == 'nuevo'"(click)="clicBotonInsertar()">Guardar</ion-button>
      <ion-button id="delete" *ngIf="id != 'nuevo'"(click)="presentAlertConfirm()">Borrar tarjeta gráfica</ion-button>
      <ion-button *ngIf="id != 'nuevo'"(click)="clicBotonModificar()">Modificar Grafica</ion-button>
      <ion-button href="http://localhost:8100/home">Lista de Tarjetas</ion-button>
      <ion-button id="selectImg" (click)="seleccionarImagen()">Añadir Imagen</ion-button>
      <ion-button id="deleteImg" (click)="borrarImagen()">Borrar Imagen</ion-button>
      <ion-button id="saveImg" (click)="guardarDatos()">Guardar Imagen</ion-button>
      <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button id="addImagen" (click)="seleccionarImagen()">Añadir Imagen</ion-fab-button>
        <ion-fab-button id="addImagen" (click)="borrarImagen()">Borrar Imagen</ion-fab-button>
        <ion-fab-button id="addImagen" (click)="guardarDatos()">Guardar Imagen</ion-fab-button>
      </ion-fab> -->
</ion-content>

