<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tarjetas Graficas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Marca</ion-label>
    <ion-input [(ngModel)] = "graficaEditando.marca"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ensamblador</ion-label>
    <ion-input [(ngModel)] = "graficaEditando.ensamblador"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input [(ngModel)] = "graficaEditando.modelo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Precio</ion-label>
    <ion-input [(ngModel)] = "graficaEditando.precio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tamaño Memoria</ion-label>
    <ion-input [(ngModel)] = "graficaEditando.memoria"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Imagen</ion-label>
    <ion-input [(ngModel)] = "graficaEditando.foto"></ion-input>
  </ion-item>
  <ion-button (click)="clicBotonInsertar()">Añadir tarjeta gráfica</ion-button>
  <ion-button (click)="clicBotonBorrar()">Borrar tarjeta gráfica</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar tarjeta gráfica</ion-button>
  <h1>LISTA DE TARJETAS GRAFICAS</h1>
  <ion-list>
    <ion-item *ngFor="let documentGrafica of arrayColeccionGraficas" (click)="selecGrafica(documentGrafica)">
      <ion-grid>
        <ion-row>
          <h2>{{documentGrafica.data.marca}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentGrafica.data.ensamblador}}</p>
        </ion-row>
        <ion-row>
          <p>{{documentGrafica.data.modelo}} Gb</p>
        </ion-row>
        <ion-row>
          <p>{{documentGrafica.data.precio}} €</p>
        </ion-row>
        <ion-row>
          <p>{{documentGrafica.data.memoria}} Gb</p>
        </ion-row>
        <ion-row>
          <p>{{documentGrafica.data.foto}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button href='http://localhost:8100/detalle/nuevo' id="h5">Añadir</ion-fab-button>
  </ion-fab>
</ion-content>
