<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tarjetas Graficas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>LISTA DE TARJETAS GRAFICAS</h1>
  <ion-list>
    <ion-item >
      <ion-grid>
        <ion-row>
        <ion-col *ngFor="let documentGrafica of arrayColeccionGraficas" (click)="selecGrafica(documentGrafica)" size-xl="2" siez-lg="2" size-md="4" size-sm="6" size-xs="12">
          <ion-card>
            <ion-card-content>
              <ion-avatar>
                <img src="{{imageURL}}">
              </ion-avatar>
              
                <h2>{{documentGrafica.data.marca}}</h2>
              
                <p>{{documentGrafica.data.ensamblador}}</p>
              
                <p>{{documentGrafica.data.modelo}} Gb</p>
              
                <p>{{documentGrafica.data.precio}} €</p>
              
                <p>{{documentGrafica.data.memoria}} Gb</p>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button href='http://localhost:8100/detalle/nuevo' id="h5">Añadir</ion-fab-button>
  </ion-fab>
</ion-content>
